body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.image_container {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 100px;
}

.greeting {
    display: flex;
    position:absolute;
    justify-content: center;
    font-size: 60px;
    font-family: sans-serif;
    opacity: 95%;
    color: silver;
    background-color: teal;
    margin-top: 410px;
    border-radius: 6px;
    padding: 5px;
}

.time_box {
    display: flex;
    position: absolute;
    font-size: 120px;
    opacity: 85%;
    justify-content: center;
    font-family: sans-serif;
    background-color: purple;
    border-radius: 8px;
    margin-top: 100px;
}
